* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7f6ee;
  color: rgb(65, 218, 62);
}

.container {
  height: auto;
  width: 24rem;
  background-color: white;
  border-radius: 8px;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem;
}

.container input {
  height: 1.8rem;
  margin-top: 0.6rem;
  border-radius: 7px;
  border: 2.1px solid #f0f9f4;
  width: 100%;
}

.container input:hover {
  transform: scale(1.01);
  transition: all ease 0.3;
  cursor: pointer;
}

.container input:focus {
  outline: none;
}

.container h1 {
  font-size: 1.6rem;
  text-align: center;
}

#add {
  font-size: 1rem;
  padding: 0.4rem 0.2rem;
  margin-top: 0.4rem;
  background-color: rgb(65, 218, 62);
  color: white;
  border: none;
  border-radius: 7px;
  width:100% ;
}

#add:hover {
  transform: scale(1.02);
  transition: all ease 0.3;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7f6ee;
  height: 2.2rem;
  padding: 0.7rem;
  border-radius: 7px;
  margin-top: 0.4rem;
}

.buttons h1 {
  font-size: 1.19rem;
}

.remove {
  background-color: rgb(207, 61, 61);
  color: white;
  font-size: 0.8rem;
  border: none;
  padding: 0.2rem 0.3rem;
  border-radius: 7px;
}

.remove:hover {
  transform: scale(1.02);
  transition: all ease 0.3;
  cursor: pointer;
}
