* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background-color: cadetblue;
}

.box {
  border: 2px solid black;
  height: auto;
  width: 25rem;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.helpers{
  display: flex;
  flex-direction: column;
  gap:0.9rem;
  margin-top: 2rem;
  padding-left: 0.5rem;
}

.boxCont h1 {
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

label {
  font-size: 1.5rem;
}

button{
    background-color:rgb(20, 120, 159);
    color: white;
    height: 2rem;
    padding: none;
    width: 98%;
    border: none;
    margin-top: 0.7rem;
}
